<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="ui segment mt-3 ml-1">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"> <%= cl_image_tag user.photo, height: 40, width: 40, class: "avatar" %>
            <strong><%= user.first_name %></strong> <%= message.message_time %></div>
          <div class="list">
            <% if message.user_id == current_user.id %>
              <div class="content-text my-2 ml-3 text-white d-inline-flex chat-symbol"
              style="background-color: rgb(29, 161, 242);">
                <%= message.body %>
            <% else %>
              <div class="content-text my-2 ml-3 bg-white d-inline-flex chat-symbol">
                <%= message.body %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control m-auto" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Send", class: "btn btn-success m-2 text-white" %>
    <%= link_to  "Back", conversations_path, class: "btn btn-danger text-white"  %>
  </div>

<% end %>

