<h1>Index</h1>

<div class="cards container mt_3">
  <% @diggers.each do |digger|  %>
    <div class="card-product" data-aos="fade-in">
      <%= cl_image_tag digger.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= digger.name %></h2>
        <p><%= digger.technical_specification %></p>
        <p><%= link_to "✂️", digger_path(digger), method: :delete %></p>
        <p><%= link_to "⚙️", edit_digger_path(digger) %></p>
      </div>
    </div>
    <br>
  <% end %>
</div>



