<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @digger.photo %>);">
  <div class="container">
    <h1 class="mb-2"><%= @digger.name %></h1>
   <div>
    <% if @digger.user != current_user %>
      <p><em>Booking period: <%= @digger.start_date %> - <%= @digger.end_date %></em></p>
      <p><em>Day rate: <%= @digger.day_rate %>€</em></p>
      <p class="mb-0"><em>Technical specification:</em></p>
      <p class="mt-1 text-white"><%= @digger.technical_specification %></p>
    <% end %>
    </div>
      <div class="ui list my-2">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <% if user.id == @digger.user.id %>
      <div class="btn btn-dark">
        <%= link_to "Message #{user.first_name }", conversations_path(sender_id: current_user.id, recipient_id: user.id), class:"text-white", method: 'post'%>
      </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>

<div class="container mt-3 h5">
  <% if @digger.user == current_user %>
    <div>
      <p><em>Booking period: <%= @digger.start_date %> - <%= @digger.end_date %></em></p>
      <p><em>Day rate: <%= @digger.day_rate %>€</em></p>
      <p class="mb-0"><em>Technical specification:</em></p>
      <p class="mt-1 text-black"><%= @digger.technical_specification %></p>
    </div>
  <% end %>
</div>

<div class="container mb-5 ">
  <% unless current_user == @digger.user %>
    <h2 class="mt-2"> Send a booking request </h2>
    <%= simple_form_for [@digger, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
      <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
      <%= f.submit "Request", class: "btn btn-danger" %>
    <% end %>
  <% end %>
  </div>
</div>
