<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @digger.photo %>);">
  <div class="container">
    <h1><%= @digger.name %></h1>
  </div>
</div>

<div class="container mt-3">
  <ul>
    <li>Start date: <%= @digger.start_date %></li>
    <li>End date: <%= @digger.end_date %></li>
    <li>Day rate: <%= @digger.day_rate %></li>
    <li>Technical specification: <%= @digger.technical_specification %></li>
    <% if policy(@digger).edit? %>
    <li><%= link_to "✂️", digger_path(@digger), method: :delete %></li>
    <% end %>
    <% if policy(@digger).destroy? %>
    <li><%= link_to "⚙️", edit_digger_path(@digger) %></li>
    <% end %>
    <% if current_user == @digger.user %>
    <li><%= link_to "Booking requests", digger_bookings_path(@digger) %></li>
    <% end %>
  </ul>

 <div class="ui list my-3">
    <div class="item btn btn-secondary">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to "Message me", conversation_messages_path(conversation)%>
          <% else %>
          <% conversation.sender_id = current_user.id %>
          <% recipient = @digger.user %>
          <%= link_to "Forum", conversation_messages_path(conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>

  <h2> Send a booking request </h2>
  <%= simple_form_for [@digger, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
    <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
    <%= f.submit "Request", class: "btn btn-danger" %>
    <% end %>

  <% unless current_user == @digger.user %>
    <h2> Send a booking request </h2>
    <%= simple_form_for [@digger, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
      <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
      <%= f.submit "Request", class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
