<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 ">
      <div class="chat-header"><h4><%= @conversation.name %></h4></div>
      <div class="messages">
        <% @conversation.messages.each do |message| %>
<!--           <h6><%= message.user.first_name  %></h6>
          <p><%= message.body %></p> -->
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div class="create-message">
        <%= simple_form_for([@conversation, Message.new], remote: true) do |f|%>
          <%= f.input :body, label: false %>
          <%= f.button :submit, class:"button-message" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script>
    const messages = document.querySelectorAll('.message');
    const lastMessage = messages[messages.length - 1];
    lastMessage.scrollIntoView();
    App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
      { channel: 'ConversationsChannel', conversation_id: <%= @conversation.id %> },
      { received: (data) => {
        if (data.current_user_id != <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          lastMessage.scrollIntoView();
        }
      } }
    )
  </script>
<% end %>

