<div class="col-12">
   <div class="card-requested-digger">
  <%= cl_image_tag booking.digger.photo, height: 40, width: 40 %>
  <div class="name"><%= booking.digger.name %></div>
  <div class="renter-name"><%= booking.digger.user.full_name %></div>
  <!-- TODO: once renter profile pages link_to booking.digger.user.full_name, user_path(booking.user) %> -->
  <div class="dates">
    <div><%= booking.start_date %></div>
    <div> <%= booking.end_date %></div>
    <div> 97%## </div> <!-- TODO -->
  </div>
  <div> 1 day ago </div> <!-- TODO -->
  <% if booking.approved === true %>
    <div class="btn btn-secondary">View</div>  <!-- TODO: only if not begun -->
  <% elsif booking.approved === nil %>
<<<<<<< HEAD
    <div class="btn btn-success"><%= link_to "Accept", "/bookings/#{booking}/approval/true" %></div>
    <div class="btn btn-danger"><%= link_to "Reject", "/bookings/#{booking}/approval/false" %></div>
=======
    <div class="btn btn-success"><%= link_to "Accept", "/bookings/#{booking.id}/approval/true" %></div>
    <div class="btn btn-danger"><%= link_to "Reject", "/bookings/#{booking.id}/approval/false" %></div>
>>>>>>> master
      <!-- TODO: only if not begun -->
  <% else %>
    <div class="btn btn-secondary">View</div>  <!-- TODO: only if not begun -->
  <% end %>
   </div>
</div>
