<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/w0SnSVTXxyQ);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">


  <div id="date"><%= form_tag diggers_path, :method => :get do %>
    <%= label_tag(:start_date_day, "Rental start:") %>
    <%= select_date(Date.today, prefix: :start_date) %>
    <%= label_tag(:end_date_day, "Rental End:") %>
    <%= select_date(Date.today, prefix: :end_date) %>
    <%= submit_tag("Search") %>
    <% end %></div>

  <h2>Dev - links (add own as need)</h2>
  <div>
    <a class="btn btn-secondary" href="diggers/1" style="margin-bottom: 10px;">show (digger id:1)</a>
  </div>
  <div>
    <a class="btn btn-secondary" href="diggers/search" style="margin-bottom: 10px;">search</a>
  </div>
</div>
