<!DOCTYPE html>
<html>
  <head>


<link rel="apple-touch-icon" sizes="180x180" href=asset_path("apple-touch-icon.png")>
<link rel="icon" type="image/png" sizes="32x32" href=asset_path("favicon-32x32.png")>
<link rel="icon" type="image/png" sizes="16x16" href=asset_path("favicon-16x16.png")>
<link rel="manifest" href=asset_path("site.webmanifest")>
<link rel="mask-icon" href=asset_path("safari-pinned-tab.svg") color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dig It!</title>
    <script src="https://kit.fontawesome.com/f19da16ba3.js"></script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <%= render 'pages/navbar_home' if @home %>
    <%= render 'shared/navbar' if @other %>

    <div id="page-container">
      <div id="content-wrap">
        <%= yield %>
        <%= render 'shared/flashes' %>
      </div>
    <%= render 'shared/footer' %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
